.ledStrip {
    background-color: #000000;
    padding: 20px;
    padding-top: 10px;
    height:100%
}
.led {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  float: left;
  color: #000000;
  background-color: currentColor;
  box-shadow: currentColor 0 0 4px 1px, inset 0px 0px 1px 0px rgba(0,0,0,0.1);
}